KAFKA_BOOTSTRAP=redpanda:29092
TOPIC=transactions
EVENTS_PER_SEC=500
NUM_USERS=200
ANOMALY_INTERVAL_SEC=30

PG_HOST=timescaledb
PG_DB=anomaly_engine
PG_USER=anomaly
PG_PASSWORD=anomaly

API_BASE_URL=http://api:8000
